.idea
.idea/workspace.xml

/sql

/node_modules
/public/admin
/public/storage
/public/.well-known/*
/storage/*.key
/storage/google_auth.json

/vendor

.env*
.phpunit.result.cache
npm-debug.log
yarn-error.log

vendor

/reports

.DS_Store
/ss_update.log

user_services
/x_update.log
/co.json
public/x_update.log
public/PayPal.log
/x_mass_update.log
update.json
*.p12

y_master.log
token_delete
token_laravel
/token*
z_master.log
*.save

*google_api.json

docker-compose.yml

# for local and other test
app/Http/Controllers/TestController.php
